@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./prism-nightowl.css");

@font-face {
  font-family: "MonoLisa";
  src: url("../public/assets/fonts/MonoLisa-Bold.otf"),
    url("../public/assets/fonts/MonoLisa-Regular.otf"),
    url("../public/assets/fonts/MonoLisa-RegularItalic.otf"),
    url("../public/assets/fonts/MonoLisa-BoldItalic.otf");
  font-weight: 400 700;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../public/assets/fonts/NotoSansKR-Regular.otf"),
    url("../public/assets/fonts/NotoSansKR-Medium.otf"),
    url("../public/assets/fonts/NotoSansKR-Bold.otf"),
    url("../public/assets/fonts/NotoSansKR-Light.otf");
  font-weight: 300 400 500 700;
}

@font-face {
  font-family: "Work Sans";
  src: url("../public/assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 300 400 500 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../public/assets/fonts/NotoSans-Thin.ttf"),
    url("../public/assets/fonts/NotoSans-Light.ttf"),
    url("../public/assets/fonts/NotoSans-ExtraLight.ttf"),
    url("../public/assets/fonts/NotoSans-Regular.ttf"),
    url("../public/assets/fonts/NotoSans-Medium.ttf"),
    url("../public/assets/fonts/NotoSans-SemiBold.ttf"),
    url("../public/assets/fonts/NotoSans-ExtraBold.ttf"),
    url("../public/assets/fonts/NotoSans-Bold.ttf");
  font-weight: 100 200 300 400 500 600 700 800;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toc {
  display: none;
}

@media (min-width: 1365px) {
  .toc {
    display: block;
    width: 240px;
    margin-left: 5rem;
    border-left: 2px solid #f1f3f5;
    padding: 0.25rem 0.75rem;
    color: var(--text3);
    line-height: 1.5;
    font-size: 14px;
    max-height: calc(100vh - 128px);
    overflow: hidden auto;
    position: sticky;
    right: -50px;
  }

  .toc ol {
    padding: 0;
  }

  .toc li {
    list-style: none !important;
  }

  .toc li a {
    text-decoration: none !important;
    text-decoration-line: none !important;
    color: #333d4b;
  }

  .toc li a:hover {
    color: #14181d;
  }
}
