@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./prism-nightowl.css");

@font-face {
  font-family: "Noto Sans KR";
  src: url("/public/assets/fonts/NotoSansKR-Regular.otf"),
    url("/public/assets/fonts/NotoSansKR-Medium.otf"),
    url("/public/assets/fonts/NotoSansKR-Bold.otf"),
    url("/public/assets/fonts/NotoSansKR-Light.otf");
  font-weight: 300 400 500 700;
}

@font-face {
  font-family: "Work Sans";
  src: url("/public/assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 400 500 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
