@import 'tailwindcss';

@font-face {
  font-family: "CustomFont";
  src: url("../public/assets/PPNeueMontreal-Regular.woff");
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: CustomFont, roboto "Newsreader", "Noto Serif KR", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ffffff;
  min-width: 350px;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toc {
  display: none;
}

@media (min-width: 1365px) {
  .toc {
    display: block;
    width: 240px;
    margin-left: 5rem;
    border-left: 2px solid #f1f3f5;
    padding: 0.25rem 0.75rem;
    color: var(--text3);
    line-height: 1.5;
    font-size: 14px;
    max-height: calc(100vh - 128px);
    overflow: hidden auto;
    position: sticky;
    right: -50px;
  }

  .toc ol {
    padding: 0;
  }

  .toc li {
    list-style: none !important;
  }

  .toc li a {
    text-decoration: none !important;
    text-decoration-line: none !important;
    color: #333d4b;
  }

  .toc li a:hover {
    color: #14181d;
  }
}

canvas {
  height: 800px;
}

/* get rid of preview of editor */
.toastui-editor-md-splitter,
.toastui-editor-md-preview {
  display: none !important;
}

.toastui-editor-main.toastui-editor-md-vertical-style.toastui-editor-md-splitter.toastui-editor-md-splitter {
  display: none !important;
}

.toastui-editor.md-mode {
  width: 100% !important;
}

.toastui-editor-defaultUI {
  /* border: 2px solid #000000 !important; */
  border-radius: 0px !important;
}

.toastui-editor-defaultUI-toolbar {
  /* border-bottom: 2px solid #000000 !important; */
}

.toastui-editor-mode-switch {
  display: none !important;
}

.ProseMirror {
  font-family: "montserrat" !important;
  font-size: 16px !important;
  background-color: #ffffff;
  height: 100% !important;
}

.dark-mode .ProseMirror {
  background-color: transparent;
  color: #ffffff !important;
}
