.ol {
  padding-left: 32px;
  color: #4e5968;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

.ul {
  padding-left: 32px;
  color: #4e5968;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.ol > .li {
  padding-left: 16px;
  list-style: decimal;
}

.ol > .li::marker {
  color: #4e5968;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.ul > .li {
  padding-left: 16px;
  list-style: circle !important;
}

.ul > .li::marker {
  content: "•";
  width: 16px;
  color: #4e5968;
}
